.env
*.log
logs/

.vscode/
.idea/
*.swp
.DS_Store

*/migrations/*.py
*/migrations/*.pyc

secrets.json

credentials.json

venv/
env/
*.hotel/
*.virtualenv/

*.pyc
*.pyo
*.pyd

*.sqlite3
db.sqlite3
__pycache__/